header#main-header{
    height: 60px;
    width: 100%;
    background: #00B2EE;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}